In [1]:
import pandas

In [2]:
file = pandas.read_csv('Electronic_sales_Sep2023-Sep2024.csv', sep=',')
file.columns

Index(['Customer ID', 'Age', 'Gender', 'Loyalty Member', 'Product Type', 'SKU',
       'Rating', 'Order Status', 'Payment Method', 'Total Price', 'Unit Price',
       'Quantity', 'Purchase Date', 'Shipping Type', 'Add-ons Purchased',
       'Add-on Total'],
      dtype='object')

In [3]:
# TASK 1

In [4]:
prices_df = file[['Customer ID', 'Total Price', 'Add-on Total']].groupby(['Customer ID']).sum()
prefer_payment_method = file[['Customer ID', 'Payment Method']].groupby(['Customer ID']).agg(lambda x: x.value_counts().idxmax())
answer_df = pandas.merge(prices_df, prefer_payment_method, on='Customer ID')
answer_df.head()

             Total Price  Add-on Total Payment Method
Customer ID
1000             6279.42         66.30    Credit Card
1002             5020.60         60.16    Credit Card
1003               41.50         35.56           Cash
1004               83.00         65.78    Credit Card
1005            11779.11         75.33         Paypal

In [5]:
# TASK 2

In [6]:
prices_shipping = file[['Shipping Type', 'Total Price']].groupby(['Shipping Type']).sum()
print(prices_shipping.head())

               Total Price
Shipping Type
Expedited      12437526.21
Express         8685215.62
Overnight       8704828.17
Same Day       12432024.82
Standard       21343073.55

In [7]:
prices_product = file[['Product Type', 'Total Price']].groupby(['Product Type']).sum()
print(prices_product.head())

              Total Price
Product Type
Headphones     4041400.24
Laptop        12296239.97
Smartphone    21516754.69
Smartwatch    14036273.06
Tablet        11712000.41

In [8]:
file['Month Date'] = pandas.to_datetime(file['Purchase Date'])

In [11]:
month_price = file[['Month Date', 'Total Price']].groupby(pandas.Grouper(key='Month Date', freq='ME')).sum()
print(month_price.head())

            Total Price
Month Date
2023-09-30    481961.79
2023-10-31   2318466.35
2023-11-30   2068434.14
2023-12-31   1980700.33
2024-01-31   6620172.47

In [12]:
quarter_price = month_price = file[['Month Date', 'Total Price']].groupby(pandas.Grouper(key='Month Date', freq='QE')).sum()
print(quarter_price.head())

            Total Price
Month Date
2023-09-30    481961.79
2023-12-31   6367600.82
2024-03-31  18678236.37
2024-06-30  19795930.14
2024-09-30  18278939.25